# Entorno virtual
venv/
.venv/

# Caché
**/__pycache__/

# Base de datos vectorial
chroma_db/

# Sesión de Playwright (Le agregamos asterisco para asegurar)
sesion_playwright/
sesion_playwright/**

# Archivos de datos
reseñas_crudas.json
reseñas_enriquecidas.json
.env